@import url('https://fonts.googleapis.com/css?family=Anton|VT323&display=swap');

.dark-mode {
  background-color:	#004444;
  transition: all 1s ease;
  #sidebar input::placeholder {
    color: #8f9779;
    font-weight: bold;
  }
  #sidebar input:focus::placeholder {
    color: transparent;
  }
  .app {
    background-color:	#232b2b;
    color: 	#8f9779;
    border: 2px solid #071e17;
    box-shadow: 5px 5px	#071e17;
  }
  #app-separator {
    background-color: #004444;
    border-right: 2px solid #071e17;
    border-left: 2px solid #071e17;
  }

  #sidebar {
    background-color: #232b2b;
    border-right: 7px solid #071e17;
    h1 {
      background-color: #232b2b;
    }
    input {
      background-color: #232b2b;
      border-left: 0;
      border-right: 0;
      border-bottom: 0;
      color: 	#8f9779;
    }
    #lists {
      background-color: #071e17;
    }
    .list {
      background-color: #232b2b;
      border-bottom: 2px solid 	#071e17;
      color: 	#8f9779;
      &:hover, &:active {
        background-color: #25584f;
      }
    }
    #button-wrapper {
      background-color: #232b2b;
      border-bottom: 3px solid 	#071e17;
      height: 2em;
    }
    .active {
      border-color: #ef3f3f;
      background-color:	#25584f;
      color: #8f9779;
    }
  }
  #todos {
    #new-todo {
      background-color: #8f9779;
      color: 	#071e17;
      border-color: #071e17;
      box-shadow: 5px 5px #071e17;
    }
    ul {
      li {
        background-color: #232b2b;
        color: 	#8f9779;
        border-color: #071e17;
        box-shadow: 5px 5px #071e17;
        &:hover, &:active {
          box-shadow: 5px 5px #25584f;
        }
      }
    }
  }
  .checkbox {
    border: 3px solid #071e17;
    background-color: #232b2b;
    box-shadow: 3px 3px 	#071e17;
    &:hover {
      background-color: 	#8f9779;
    }
    &.checked {
      background-color: 	#8f9779;
    }
  }
  .priority {
    border: 2px solid;
    border-color:	#ef3f3f !important;
    box-shadow: 5px 5px	#ef3f3f !important;
  }
}



@keyframes fade {
  from {opacity:1;}
  to {opacity:0.5;}
}

html, body {
  height: 100%;
  width: 100%;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  background-color: #ffcc5c;
  transition: all 1s ease;
}

#darkmode, #list-toggle {
  width: 1em;
  cursor: pointer;
  &:hover {
    opacity: 0.7;
  }
}

h2 {
  cursor: pointer;
}

body::-webkit-scrollbar {
  display: none;
}


input::placeholder {
  color: #152218;
  font-weight: bold;
}

input:focus::placeholder {
  color: transparent;
}

button:focus, button:active  {
  outline: 0;
  border: 0;
}

.app {
  font-family: 'Anton', sans-serif;
  display: grid;
  grid-template-columns: 25% auto;
  width: 100vw;
  height: 100vh;
  max-width: 1100px;
  max-height: 800px;
  background-color: #ffeead;
  color: #152218;
  border: 2px solid #243447;
  box-shadow: 5px 5px #243447;
}

#sidebar {
  max-height: 800px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  text-align: center;
  background-color: #ffeead;
  border-right: 7px solid #243447;
  h1 {
    font-size: 3em;
    margin: 0;
    background-color: #ffeead;
    cursor: pointer;
  }
  input {
    font-size: 0.9em;
    background-color: #ffeead;
    border-top: 1px solid #243447;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    color: #152218;
    outline: none;
    padding: 0.3em;
  }
  #lists, #no-lists {
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #141d26;
  }
  .list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.7em;
    background-color: #ffeead;
    border-bottom: 2px solid #141d26;
    padding-left: 0.5em;
    padding-right: 0.5em;
    cursor: pointer;
    word-break: break-word;
    color: #152218;
    &:hover, &:active {
      background-color: #ffbcaa;
    }
  }
  #button-wrapper {
    background-color: #ffeead;
    border-bottom: 3px solid #243447;
    height: 2em;
  }
  .active {
    border-color: #ff6f69;
    background-color: #ffbcaa;
    color: 	#ff6f69;
  }
}
#input-todo-wrap {
  display: flex;
}
#todos {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  margin-left: 1em;
  #new-todo {
    height: auto;
    width: 70%;
    padding: 0.3em;
    margin: 0.2em;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: #fbf7f5;
    align-self: center;
    word-break: break-word;
    color: #152218;
    border: 2px solid;
    box-shadow: 5px 5px;
    font-size: 1em;
    align-self: center;
    outline: none;
  }
  ul {
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
    li {
      display: flex;
      justify-content: space-between;
      background-color: #ffeead;
      height: auto;
      width: 60%;
      padding: 0.3em;
      margin: 0.2em;
      cursor: pointer;
      align-self: center;
      word-break: break-word;
      color: #152218;
      border: 2px solid;
      box-shadow: 5px 5px;
      font-size: 0.7em;
      &:hover, &:active {
        box-shadow: 5px 5px #ffbbaa;
      }
    }
  }
}

.todo {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: default !important;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
  animation: fade 1s forwards;
  box-shadow: 3px 3px;
}

#buttons {
  display: flex;
  align-self: baseline;
}

.delete-button, .priority-button, .edit-button {
  cursor: pointer;
  width: 0.8em;
  opacity: 0.6;
  padding-left: 0.5em;
  &:hover {
    opacity: 1;
  }
}

.delete-list{
  opacity: 0;
  text-shadow: 5px 4px #000;
  cursor: pointer;
  font-size: 1.5em;
  width: 0.7em;
  color: indianred;
  align-self: right;
  transition: all 0.2s ease;
  position: relative;
  &:hover {
    opacity: 1;
  }
}

.checkbox {
  width: 20px;
  height: 20px;
  margin: 0.5em;
  border: 3px solid #243447;
  cursor: pointer;
  text-align: center;
  background-color: #fff;
  box-shadow: 3px 3px #243447;
  &:hover {
    transition: background-color 0.5s ease;
    background-color: #ffbbaa;
  }
  &.checked {
    background-color: #ffbbaa;
    opacity: 0.5;
  }
}

#app-separator {
  width: 3px;
  height: 6px;
  position: relative;
  left: 100%;
  top: -2px;
  background-color: #ffcc5c;
  border-right: 2px solid #243447;
  border-left: 2px solid #243447;
}

.priority {
  border-color: #c51f5d !important;
  box-shadow: 5px 5px #c51f5d !important;
}

#clear:hover {
  transition: all 1s ease;
  opacity: 0.7;
}

#delete-dialog {
  color: red;
}

#list-toggle {
  display: none;
}

@media (max-width: 880px) {
  .app, .dark-mode .app{
    grid-template-columns: 100%;
    border: 0;
    box-shadow: none;
  }
  body {
    background-color: #ffeead;
  }
  .dark-mode {
    background-color: #232b2b;
  }
  #sidebar, .dark-mode #sidebar {
    position: sticky;
    top: 0;
    z-index: 99;   border: 0;
  }
  #todos {
    margin-left: 0.3;
    min-height: 77vh;
  }
  #todos #new-todo {
    width: 80%;
  }
  #todos ul li {
    width: 65%;
    font-size: 0.6em;
  }
  #sidebar input, .dark-mode #sidebar input {
    border: 0;
  }
  .dark-mode #sidebar #lists, #sidebar #lists {
    background-color: inherit;
    z-index: 99;
  }
  .dark-mode #sidebar #no-lists, #sidebar #no-lists {
    display: none;
  }
  #button-wrapper, .dark-mode #button-wrapper {
    display: flex;
    justify-content: space-evenly;
    padding: 0.5em;
    height: 2em;
  }
  .darkmode #list-toggle, #list-toggle {
    display: block;
  }
  #app-separator {
    display: none;
  }
}

