html, body {
  height: 100%;
  width: 100%;
  margin:0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  background-color:	#232b2b;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  transition: all 1s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

*::-webkit-scrollbar {
  display: none;
}

input::placeholder {
  color: #152218;
  font-weight: bold;
}

input:focus::placeholder {
  color: transparent;
}

button:focus, button:active  {
  outline: 0;
  border: 0;
}
